@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
    font-family: "Raleway","Noto Sans JP", sans-serif;
    width: 100vw;
    /* height: 100vh; */
}

.wrapper {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background: url("./background-image.jpg") center center no-repeat; */
    /* background: url("./sumaran20211275d-1.jpg") center center no-repeat; */
    background: url("./4.jpg");
    background-color: rgb(77, 109, 45);
    background-size: auto;
    padding: 10px;
    height: 100%;
 }

 .container {
    /* width: 50vw; */
    /* text-align: center; */
    /* margin: 10px; */
    /* padding: 40px 20px; */
    /* border-radius: 15px; */
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 13px 5px rgba(0,0,0,0.25);
}

.card {
    margin: 15px;
    background-color: rgb(243, 236, 219);
}

.fin {
    text-decoration: line-through;
    /* background-color: #ddd; */
    color: #777;
}

.title {
    color: rgb(243, 236, 219);
}

.check:checked {
    background-color: red;
}

.btn--item--add {
    background-color: rgb(77, 109, 60);
    border-color: rgb(77, 109, 60);
}

.btn--item--edit {
    background-color: rgb(131, 151, 029);
    border-color: rgb(131, 151, 029);
}

.btn--item--init {
    background-color: rgb(225,215,055);
    border-color: rgb(225,215,055);
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.goods__item__name {
    font-size: 1.00rem;
}

.goods__item__category {
    color: #777;
    font-size: 0.50rem;
}